.black-button {
    font-family: Poppins;
    font-weight: 200;
    font-size: 15px;
    border: solid thin;
    border-radius: 8px;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    color: #eeeeee;
    width: 140px;
    background-color: black;
    
}

.black-button:hover {
    background-color: #575757; 
}