.gray-button {
    font-family: Poppins;
    font-weight: 200;
    font-size: 15px;
    border: solid thin;
    border-radius: 8px;
    padding: 8px 12px 8px 12px;
    text-align: center;
    text-decoration: none;
    color: rgb(110, 110, 110);
    width: 140px;
    background-color: #eeeeee;
}

.gray-button:hover {
    color: #F31E25
}