.main-container-about{
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    align-items: center;
    height: fit-content;
    
    margin-bottom: 8vh;
    overflow: hidden;
}

#about-photo {
    display: flex;
    align-items: center;
    justify-content: center;
}

#about-photo img {
    width: 36vw;
    border-radius: 4px;
    position: relative;
    left: 7vw;
    top: -5vh;
}

#text a:hover {
    cursor: pointer;
    color: #575757;
}


@media(max-width: 994px) {
    .main-container-about {
      grid-template-columns: 1fr;
      height: fit-content;
    }

    .about-text-container {
        justify-content: flex-start;
    }

    #text {
        width: 85vw;
        align-items: center;
        margin-left: 8vw;
        margin-right: 6vw;
        margin-bottom: 4vh;   
    }

    #about-photo img {
        width: 60%;
        margin-top: 5vh;
        left: 0;
        top: 8vh;        
    }
}

  @media(max-width: 540px) {
    #about-photo img {
        width: 90%;
    }
  }