.main-container-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    padding-top: 12vh;
    padding-bottom: 4vh;
}

.main-container-contact a{
    color: #000000;
}

#icons-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: fit-content;
    align-items: center;
    border-bottom: dotted 1px #696969;
    padding-bottom: 2vh;
}

#contact-text-container {
    display: flex;
    flex-direction: column;
    width: 30vw;
    align-items: center;
    text-align: justify;
    background-color: rgb(237, 237, 237);
    padding-right: 2vw;
    padding-left: 2vw;
    border-radius: 4px;
}

#icons-container .skill-card img {
    height: 4vw;
}

#contact-text-container h1 {
    color: #000000;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
}

#contact-text-container p {
    color: #575757;
}

@media(max-width: 992px) {
    #contact-text-container {
        width: 76vw;
        
    }

  }

  @media(max-width: 690px) {
    
    #icons-container {
        display: grid;
        grid-template-columns: 1fr 1fr;

    }

    .skill-card {
        padding-right: 4vw;
        padding-left: 4vw;
        padding-bottom: 2vw;
    }

  }
  
  @media(max-width: 380px) {
    
    #icons-container {
        min-width: 150px;

    }

  }