.main-container-photo{
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    height: 80vh;
}

#big-photo {
    display: flex;
    align-items: center;
    justify-content: center;
}

#big-photo img{
    width: 85%;
    margin-top: 20px;
}

.text-container {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#text {
    font-size: 13px;
    width: 30vw;
    text-align: justify;
    
    margin-right: 4vw;
}

#text h1{
    font-family: Poppins;
    font-weight: bold;
    font-size: 24px;
    text-align: left;
}

.button-container {
    display: flex;
    justify-content:flex-end;
    margin-bottom: 3vh;
    margin-right: 4vw;
    
}

.button-container .black-button {
    padding: 8px 2px 8px 2px;
}

.button-container .gray-button {
    padding: 8px 2px 8px 2px;
    margin-right: 12px;
}

@media(max-width: 768px) {
    .main-container-photo {
      grid-template-columns: 1fr;
    }

    .text-container {
        justify-content: flex-start;
    }

    #text {
        width: 85vw;
        align-items: center;
        margin-left: 8vw;
        margin-right: 6vw;
        margin-bottom: 4vh;
        
    }
  }