.navbar {
    font-family: Poppins;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 24px;
    height: 8vh;
    /*position: fixed;*/
    width: 100%;
    position: relative;
}

.navbar a {
    text-decoration: none;
    color: black;
    padding-right: 42px;

}

.navbar a:hover {
    color: #9c9c9c;;

}

.navbar img{
    width: 7vh;
    position: absolute;
    left: 60px;
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    right: 2vw;
    top: calc(100% + .25rem);
    background-color: white;
    
    padding: 0.75rem;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: .25rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
    z-index: 1;
    opacity: 0;
    pointer-events: auto;
    transform: translateY(-10px);
    transition: opacity 150ms ease-in-out;
}

.dropdown-menu a {
    padding: 12px;
    font-size: 18px;
}

.dropdown > .link:focus + .dropdown-menu {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.link {
    font-family: Poppins;
    font-size: 20px;
    border: none;
    background-color: #F7F6F6;
    padding-right: 2vw;
}

.link:hover {
    color: #9c9c9c;
}

.link:focus {
    color: #D12429;
}

@media(max-width: 768px) {
    .header-navbar {
        font-size: 16px;
    }

    .link{
        font-size: 16px; 
    }
}

