.skill-card {
    width: 10vw;
    display: flex;
    flex-direction: column; 
    align-items: center;
    margin: 30px 10px 10px 10px;   
}

.skill-card img {
    height: 4vw;
}

.skill-card a {
    font-size: 6vh;
    font-weight: bold;
    text-decoration: none;
    color: black;
    text-align: center;
}

.skill-card a:hover{
    color: #D12429;
}

.skill-card a p {
    font-weight: normal;
}

@media(max-width: 992px) {
    .skill-card img {
        height: 8vw;
    }
  }

  